/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classe di debug */
.debug {
    border: 1px solid red;
}

body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

#wrapper {
    max-width: 1200px;
    text-align: center;
    margin: 50px auto;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    width: auto;
}

/* Classe pulsante ACCENDI */
.btn-style {
    margin: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    color: black;
    background-color: #9AE22D;
    border: 2px solid #679620;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

/* Hover col mouse */
.btn-style:hover {
    background-color: #679620;
}
/* Classe pulsante che modifica solo il colore di sfondo del pulsante
quando la lampadina è accesa */
.btn-style-img-yellow {
    background-color: #FED000;
    
}